<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hello there! I'm Matthew, a highly skilled tech enthusiast with 20+ years of experience in providing
            exceptional Remote IT Support services. My mission is to empower businesses like yours with seamless tech
            solutions and boost your productivity.</p>

        <p>With my Remote IT Support, you can say goodbye to tech challenges. Whether it's troubleshooting software
            issues, configuring networks, or optimizing Microsoft Office 365, I've got you covered.</p>

        <p>Security is at the core of what I do. Rest assured, your business data and digital assets are protected through
            proactive measures, ensuring a safe and secure environment.</p>

      </div>
      <div class="col-lg-4">
        <p>I'm also an AI implementation expert, creating smart chatbots and fine-tuning GPT models to enhance efficiency
            and customer experiences. Stay ahead with advanced AI-driven solutions.</p>

        <p>Whether you're running a Linux or non-Linux setup, my expertise spans both environments, ensuring smooth IT
            support tailored to your specific needs.</p>

        <p>With my 24/7 availability and fast response times, your business remains connected and efficient at all times.</p>

      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
